<form action="/favourites" method="POST">
  <button class="bg-red-500 px-3 py-2 rounded text-white font-medium hover:bg-red-600" type="submit">Add to
    favourites</button>
  <input type="hidden" name="id" value="<%= homeDetails._id %>">
</form>